:root{
    // colors
    --c-primary: hsl(229, 23%, 23%);
    --c-bg-image: hsl(185, 75%, 39%);
    --c-secundary: hsl(0, 0%, 59%);
    --c-age-text: hsl(227, 10%, 46%);
    --c-black: #000;
    --c-white: #FFF;    

    // fonts
    --f-primary: 'Kumbh Sans', sans-serif;
    --fs-primary: 1rem;
}